/* nav bar */
.headline {
    background-color: blue;
    color: blanchedalmond;
    align-content: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* forecast */
.forecast {
    border: 1px solid black;
}
/* current */
.column.col-2.day-1 {
    border: 1px solid black;
}